@common-color: #0B2F30;
@common-background-color: #A2BBBB;

.van-nav-bar, .van-tabbar {
  color: @common-color;
  font-weight: bold;
  background-color: @common-background-color;
}
.van-nav-bar__title {
  color: @common-color;
  font-weight: bold;
}
